.header {
  /* align-items: center; */
  background-color: white;
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding: 0 calc((100% - var(--max-width))/2); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  transition: ease 0.5s;
}

.headerDiv {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-inline: 50px;
  max-width: calc(var(--max-width) + 100px)
}

.headerHidden {
  opacity: 0.4;
}

.headerDivImage {
  height: 80px;
  position: relative;
  width: 100px;
}

.headerLogoImage {
  object-fit: contain;
}

/* .headerDivLinks {
  display: flex;
  flex-direction: row;
} */

.headerDivLinksList {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.headerDivLinksList li {
  padding-left: 10px;
}