.productOpt {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.input {
  display: flex;
  align-items: stretch;
  gap: 5px;
}

.input label {
  text-align: right;
}

.select {
  display: flex;
  align-items: center;
  gap: 5px;
}

.productOpt input {
  width: 18px;
}

.productOpt button {
  padding: 10px 20px;
  background-color: rgb(122, 0, 0);
  color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.productOpt button:active {
  transform: scale(1.1);
}
